body {
  background-color: #e3e3e3;
  font-family: "Open Sans", sans-serif;
  color: #4d4d4d;
  padding: 0;
  margin: 0;
}

#banner {
  background-color: #333;
  color: #eee;
  padding: 25px;
  text-align: center;
}

#banner h3 {
  font-size: 14px;
}

main {
  padding: 20px;
  margin-left: 160px;
}

p.main {
  font-family: cursive;
}

aside {
  padding: 10px;
  float: left;
  width: 160px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  font-size: 13px;
  color: #eee;
  /*padding: 20px;*/
  text-align: right;
}

footer p {
  margin: 0;
  line-height: 25px;
  padding: 20px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-stretch: ultra-expanded;
  color: #eeeeee;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link {
  color: #edf745;
}

a:hover {
  color: #89c83f;
  transition: color 0.5s ease-in;
}

a:active {
  color: #cfd73d;
}
